<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangch.dao.LoginMapper">

    <select id="userCount" parameterType="com.yangch.bean.User" resultType="java.lang.Integer">
        select count(1) from user
        where id_card = #{idCard}
        and password = #{password}
        and del_flag = '0'
    </select>

    <select id="login" parameterType="com.yangch.bean.User" resultType="com.yangch.bean.User">
        select
          user_id as userId,
          name as  name,
          type as  type
        from user
        where id_card = #{idCard}
        and password = #{password}
        and del_flag = '0'
    </select>
    
    <update id="updateLastLoginTime" parameterType="com.yangch.bean.User">
        update user
        set last_login_time = NOW()
        where del_flag = '0'
        and user_id = #{userId}
    </update>
    
    <select id="getUserRegisterName" parameterType="com.yangch.bean.User" resultType="java.lang.String">
        select
          user_id as userId
        from user
        where name = #{name}
        and del_flag = '0'
    </select>

    <select id="getUserRegisterID" parameterType="com.yangch.bean.User" resultType="java.lang.String">
        select
          user_id as userId
        from user
        where id_card = #{idCard}
        and del_flag = '0'
    </select>

    <insert id="register" parameterType="com.yangch.bean.User">
        insert into user(
          user_id, id_card, password, name, type, del_flag, last_login_time, create_time, create_user, update_time, update_user
        )
        values(
          #{userId},#{idCard},#{password},#{name},'0','0',NOW(),NOW(),#{userId},NOW(),#{userId}
        )
    </insert>
</mapper>